# Stock Market Analysis
We will look at data from the stock market, particularly some technology stocks. We will learn how to use pandas to get stock information, visualize different aspects of it, and finally we will look at a few ways of analysing the risk of a stock, based on its previous performance history. We will also be predicting future stock prices through a Monte Carlo method!!

We will be answering the following questions along the way:

1.) What was the change in price of the stock over time?

2.) What was the daily return of the stock on average?

3.) What was the moving average of the various stocks?

4.) What was the correlation between different stocks' closing prices?

5.) What was the correlation between different stocks' daily returns?

6.) How much value do we put at risk by investing in a particular stock?

7.) How can we attempt to predict future stock behavior?

### Basic Analysis of Stock Information
In this section we will go over how to handle requesting stock information with pandas, and how to analyse basic attributes of a stock.

In [18]:
#some standard imports
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# import vizualization modules and libraries
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# for reading stock data from yahoo
from pandas_datareader import DataReader

# for time stamps
from datetime import datetime

In [32]:
# grab yahoo data
tech_list = ['AAPL','GOOG','MSFT','AMZN','FB']

In [33]:
# end and start time
end = datetime.now()

# start time will be a year ago
start = datetime(end.year - 1,end.month,end.day)

In [34]:
# grab finance data
for stock in tech_list:
    globals()[stock] = DataReader(stock,'yahoo',start,end)
    
"""
globals() function takes every stock string and makes it a global variable.
"""

In [22]:
 AAPL

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-06,198.070007,194.039993,196.309998,197.000000,35824800.0,194.676620
2019-08-07,199.559998,193.820007,195.410004,199.039993,33364400.0,196.692566
2019-08-08,203.529999,199.389999,200.199997,203.429993,27009500.0,201.030792
2019-08-09,202.759995,199.289993,201.300003,200.990005,24619700.0,199.374222
2019-08-12,202.050003,199.149994,199.619995,200.479996,22474900.0,198.868317
...,...,...,...,...,...,...
2020-07-30,385.190002,375.070007,376.750000,384.760010,39532500.0,384.760010
2020-07-31,425.660004,403.299988,411.540009,425.040009,93584200.0,425.040009
2020-08-03,446.549988,431.570007,432.799988,435.750000,77037800.0,435.750000
2020-08-04,443.160004,433.549988,436.529999,438.660004,43267900.0,438.660004
2020-08-05,441.570007,435.589996,437.510010,440.250000,30444200.0,440.250000

In [23]:
GOOG.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-06,1179.959961,1160.000000,1163.310059,1169.949951,1709400,1169.949951
2019-08-07,1178.444946,1149.624023,1156.000000,1173.989990,1444300,1173.989990
2019-08-08,1205.010010,1173.020020,1182.829956,1204.800049,1468000,1204.800049
2019-08-09,1203.880005,1183.603027,1197.989990,1188.010010,1065700,1188.010010
2019-08-12,1184.959961,1167.671997,1179.209961,1174.709961,1003000,1174.709961

In [24]:
AAPL.to_csv('apple_stock.csv',sep=',')

In [25]:
GOOG.to_csv('google_stock.csv',sep=',')

In [26]:
MSFT.to_csv('microsoft_stock.csv',sep=',')

In [27]:
AMZN.to_csv('amazon_stock.csv',sep=',')

In [28]:
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2019-08-06 to 2020-08-05
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       253 non-null    float64
 1   Low        253 non-null    float64
 2   Open       253 non-null    float64
 3   Close      253 non-null    float64
 4   Volume     253 non-null    float64
 5   Adj Close  253 non-null    float64
dtypes: float64(6)
memory usage: 13.8 KB

In [35]:
FB

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-06,185.789993,183.089996,183.690002,184.509995,18035700,184.509995
2019-08-07,186.369995,181.220001,183.600006,185.149994,15833200,185.149994
2019-08-08,190.339996,184.050003,186.619995,190.160004,14828900,190.160004
2019-08-09,190.979996,187.119995,190.000000,187.850006,11058800,187.850006
2019-08-12,187.589996,184.460007,186.850006,185.369995,10936300,185.369995
...,...,...,...,...,...,...
2020-07-30,234.889999,229.000000,230.220001,234.500000,20615300,234.500000
2020-07-31,255.850006,249.000000,255.820007,253.669998,53030000,253.669998
2020-08-03,255.399994,250.330002,252.649994,251.960007,23124900,251.960007
2020-08-04,252.800003,247.429993,251.559998,249.830002,17183500,249.830002
2020-08-05,252.270004,247.770004,250.190002,249.119995,13050100,249.119995

In [40]:
FB.to_csv('facebook_stock.csv',sep=',')

In [38]:
UBER = DataReader('UBER',data_source='yahoo')

In [39]:
NFLX = DataReader('NFLX','yahoo')

In [41]:
UBER.to_csv('uber_stock.csv',sep=',')

In [42]:
NFLX.to_csv('netflix_stock.csv',sep=',')

In [ ]:
# create a dataframe of closing prices for all the stocks in the tech_list
closing_df=DataReader(tech_list,'yahoo',start,end)['Adj Close']